{{>layout/header}}

    <H1>게시글 등록</H1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placholde="제목을 입력하세요.">
                </div>

                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" placholde="작성자를 입력하세요.">
                </div>

                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea type="text" class="form-control" id="content" placholde="내용을 입력하세요."></textarea>
                </div>

                <a href="/posts/save" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>

    </div>

{{>layout/footer}}